.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 456px;
    padding: 8px;
    display: inline-block;
    overflow: hidden;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    /* margin-left: -13px; */
    padding-left: 15px;
    padding-top: 20px;
    text-align:center;
}
.gallery-wrap .img-small-wrap img {
    width: 100px;
    height: 100px;
    /* padding: 8px; */
    /* object-fit: cover; */
    /* border-radius: 2px; */
    cursor: zoom-in;
}

.products .container{
    border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #888888;
  box-
}